.animate-delay-0.5s {
    animation-delay: 0.5s;
}
.animate-delay-1s {
    animation-delay: 1s;
}
.animate-delay-1.5s {
    animation-delay: 1.5s;
}
.animate-delay-2s {
    animation-delay: 2s;
}
.animate-delay-2.5s {
    animation-delay: 2.5s;
}
.animate-delay-3s {
    animation-delay: 3s;
}
.animate-delay-3.5s {
    animation-delay: 3.5s;
}
.animate-delay-4s {
    animation-delay: 4s;
}
.animate-delay-4.5s {
    animation-delay: 4.5s;
}